.canvas {
	margin: 0px;
	position:relative;
	background-color:$secondaryColor;
}

canvas {
	display: block;
	position: absolute;
	top: 15px;
	left:-17px;
	margin:0;
	padding:0;
	z-index: 1;
}

#canvasImg {
	display:none;
}